@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: 'PT Serif', serif;
  --font-mono: 'Roboto Mono', monospace;

  --clr-border-color: #E9E9E9;
  --clr-input-color: #F4F4F4;
  --clr-secondary-color: #A445ED;
  --clr-meaning-color: #757575;
}

.light {
  --clr-background-color: #fff;
  --clr-text-color: black;
  --clr-box-shadow: rgba(0, 0, 0, .1);
  --clr-dropdown-color: #fff;
  --clr-input-color: #F4F4F4;
}

.dark {
  --clr-background-color: #050505;
  --clr-text-color: white;
  --clr-box-shadow: #A445ED;
  --clr-dropdown-color: #1f1f1f;
  --clr-input-color: #1f1f1f;
}

* {
  transition: background-color 200ms, color 200ms;
}

.App {
  margin: 0px;
  min-height: 100vh;
  background-color: var(--clr-background-color);
  color: var(--clr-text-color);
  padding: 1rem;
}

.App > .main {
  width: min(100%, 800px);
  margin-inline: auto;
}

.sans {
  font-family: var(--font-sans);
}

.serif {
  font-family: var(--font-serif);
}

.mono {
  font-family: var(--font-mono);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.navbar > .right {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
}

.fonts {
  position: relative;
  border-right: 1px solid gray;
  display: inline-flex;
  padding-right: 1rem;
}

.fonts-dropdown-button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--clr-text-color);
  font-size: 1rem;
  font-weight: 700;
}

.fonts > .fonts-dropdown {
  position: absolute;
  right: 1rem;
  z-index: 10;
  margin-top: 2rem;
  border-radius: 0.5rem;
  width: 183px;
  background-color: var(--clr-background-color);
  color: var(--clr-text-color);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 0.5rem;
}

.fonts > .fonts-dropdown > span {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  column-gap: 0.875rem;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 0.375rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.fonts > .fonts-dropdown > span:hover {
  color: #A445ED;
}

.theme-toggle {
  padding-left: 0.5rem;
}

/* ************ */

.theme-toggle {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
}

.toggle-switch {
  display: inline-block;
  background-color: #ccc;
  border-radius: 16px;
  width: 48px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: background-color 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
  background: var(--clr-secondary-color);
}

.toggle-checkbox:checked+.toggle-switch:before {
  left: 28px;
}

.toggle-checkbox {
  position: absolute;
}

.search-form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  background-color: var(--clr-input-color);
  /* border: 1px solid var(--clr-input-color); */
  padding: 1.2rem;
  border-radius: 1rem;
}

.search-form:hover {
 outline: 1px solid var(--clr-secondary-color);
}
.search-form > input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: var(--clr-text-color);
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
}

/********/

.content {
  margin-top: 45px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  font-size: 64px;
  font-weight: 700;
}

.header .pronunciation {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 24px;
  font-weight: 400;
  color: var(--clr-secondary-color);
  margin-top: 1rem;
}

.body .title {
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 1rem;
}

.body .title .line {
  border-bottom: 1px solid var(--clr-border-color);
  flex: 1;
}

.subtitle {
  color: var(--clr-meaning-color);
  font-size: 20px;
}

 li {
  color: var(--clr-secondary-color);
}

ul li span {
  color: var(--clr-text-color);
}

/* ul li::before {
  content: "\2022";
  color: var(--clr-secondary-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
} */

 ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-size: 18px;
  line-height: 24px;
}

 .synonyms {
  margin-top: 40px;
  display: flex;
  gap: 22px;
  align-items: flex-start;
}

 .synonyms .alt-text {
  font-weight: 700;
  color: var(--clr-secondary-color);
  font-size: 20px;
}

.not-found {
  height: 204px;
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.not-found .sad-face {
  font-size: 64px;
}

.not-found .title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 44px;
  margin-bottom: 24px;
}

.not-found .description {
  font-size: 18px;
  color: var(--clr-meaning-color);
  font-weight: 400;
}