* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body:has(.light) {
  background-color: #fff
}

body:has(.dark) {
  background-color: #050505;
} */